<!--The content below is only a placeholder and can be replaced.-->
<div class="row mb-3">
  <div class="col-8">
    <h1>Choose Item:</h1>
    <div class="row mb-3" *ngFor="let row of items; let rowIndex = index;">
      <div class="col-4" *ngFor="let item of row; let itemIndex = index;">
        <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="submitting" (click)="add(rowIndex, itemIndex)">{{item.title + ' for $' +item.price}}</button>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="!cart.length || submitting" (click)="submit()">Submit</button>
  </div>
  <div class="col-4">
      <h1>Your current order:</h1>
      <ul *ngIf="cart.length">
        <li *ngFor="let itemGrouped of cart; let cartIndex = index;">{{ itemGrouped.length + ' ' + itemGrouped[0].title }}
          <button type="button" class="btn btn-danger btn-sm" (click)="removeItem(cartIndex)">-</button>
        </li>
      </ul>
      <h6 *ngIf="!cart.length">--Empty--</h6>
      <h2 class="text-success">Total: ${{total()}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-8">
      <div class="alert alert-success" role="alert" *ngIf="orderSuccess">
        Your payment has been proccessed successfully! <br>
        Reference code: {{submittedResponse}}
      </div>
  </div>
</div>
